.circle{
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    background:#000
}
.circle:hover{
    transform: scale(1.5);
    background: #3b3b3b;
    position: relative;
    z-index: 1;
}